a{color:#888}.gray .container-page{background:url(../images/pattern.png)}.gray .container-page.login{background:#fff}.gray .mod-header{background-color:#fff;box-shadow:0 5px 3px rgba(0,0,0,.2)}.gray #main-menu>li{border-left-color:#BBB}.gray #main-menu>li.has-sub>a:before{border-color:#777 transparent transparent}.gray #main-menu>li.active>a,.gray #main-menu>li>a:hover{color:#04BFBF}.gray #main-menu>li.has-sub:after,.gray #main-menu>li.has-sub:hover,.gray #main-menu>li>.sub-menu,.gray .sub-menu>li>a{background:#eee}.gray #main-menu>li.has-sub:hover>a{color:#04BFBF}.gray #main-menu>li.has-sub:hover,.gray #main-menu>li>.sub-menu,.gray .select-cate .dropdown-cate{box-shadow:0 0 5px 2px rgba(0,0,0,.4)}.gray .sub-menu>li>a:hover{background-color:#fff}.gray .select-cate .dropdown-cate,.gray .sub-menu>li>a:hover{color:#666}.gray .mod-filter .txt-search{background-color:#EEE;border:1px solid transparent}.gray .mod-search .keyword-search{border:1px solid transparent;background-color:#fff}.gray .mod-filter .txt-search{padding:4px 40px 3px 10px}.mod-filter .txt-search:focus{box-shadow:none}.gray .mod-email-newsletter .wrap-email input:focus,.gray .mod-filter .txt-search:focus,.gray .mod-search .keyword-search:focus{border-color:#22BFBF;color:#777}.gray .mod-search .keyword-search:focus,.mod-email-newsletter .wrap-email input:focus{box-shadow:none}.gray .range-days-left .lbl-day{color:#777}.gray .select-cate .dropdown-cate,.gray .select-cate .show-val,.gray .select-cate .wrap-list-cate a{background-color:#eee}.gray .select-cate .wrap-list-cate a:hover{background-color:#fff}.gray .noUi-target{border-color:#eee}.gray .noUi-background{background-color:#EEE}.gray .noUi-connect,.gray .noUi-handle{background-color:#17BFBF}.gray .mod-email-newsletter .wrap-form{background-color:#fff}.gray .mod-email-newsletter .wrap-email input{background-color:#eee;border:1px solid transparent}.gray .mod-footer .footer-top{padding-top:60px;margin:0;background:url(../images/bk-footer-dark.png) repeat center center;background-size:cover}.gray .mod-footer .foot-copyright{background-color:#000}.gray .mod-footer .footer-top:after{display:none}.gray .block .title-block{color:#04BFBF}.gray .wrap-brand-logo{display:table;height:100px}.gray .wrap-brand-logo .brand-logo{display:table-cell;vertical-align:middle}.gray .mod-grp-coupon .brand-top-info .brand-desc{padding:0 70px 0 0}.gray .mod-brand-detail-3 .social-link .fa,.gray .mod-footer .social-link ul i.fa{color:#666}.gray .mod-brand-detail-3 .social-link .fa:hover,.gray .mod-footer .social-link ul i.fa:hover{color:#bbb}.gray .coupon-item .coupon-brand{color:#A6A6A6}.gray .coupons-code-item .save-price a{color:#878787}.gray .coupon-item:hover .btn.btn-blue,.gray .coupons-code-item:hover .btn.btn-blue{background-color:#FFA43E;border-color:#F28200}.gray .coupon-item .coupon-content,.gray .coupons-code-item{border-color:transparent;background-color:#fff}.gray .coupon-item:hover .coupon-content,.gray .coupons-code-item:hover{border-color:#FFBE19}.gray .img-thumb-center{background-color:#fff}.gray .coupon-item .coupon-price{margin-top:0px;height:57px;padding-top:10px;}.gray .coupon-item .coupon-price:hover{color:#FF8317}.gray .coupon-item .btn-take-coupon.dismiss{background-color:#FFBE19;border-bottom-color:#FFBE19}.gray .coupon-item .btn-take-coupon.dismiss:hover{background-color:#CC0013;border-bottom-color:#CC0013}.gray .brand-item .brand-content,.gray .coupons-code-item .brand-logo,.gray .mod-list-store .wrap-list-store .brand-logo{border-color:transparent;background-color:#fff}.gray .mod-list-store .wrap-list-store .brand-logo:hover{border-color:#FFBE19}.gray .sidebar .coupons-code-item .brand-logo{background-color:transparent}.gray .mod-brand-detail-4 .brand-top-info{background-color:#fff}.gray .coupon-item .coupon-price{color:#04BFBF}.gray .brand-logo{background-color:#fff;text-align:center}.gray .brand-desc{padding:20px 0 14px}.gray .btn.btn-gray{background-color:#023550;color:#fff}.gray .btn.type-tag:active,.gray .btn.type-tag:hover{background-color:#023550;color:#07F2DB}.gray .btn.type-tag:active:after,.gray .btn.type-tag:after,.gray .btn.type-tag:hover:after{border-color:rgba(0,0,0,0)rgba(0,0,0,0)rgba(0,0,0,0)#023550}.gray .mod-register .left-form .input-txt:focus,.gray.pop-login .mod-register .left-form .input-txt:focus{box-shadow:none}.gray .mod-register .title-mod{color:#04BFBF}.gray .btn-flat.yellow{background-color:#04BFBF}.gray .btn-flat.yellow:hover{background-color:#038C8C}.gray .mod-register .left-form .wrap-check a{color:#04BFBF}.gray .mod-register .left-form .input-txt:focus{border-color:#04BFBF}.gray .mod-register .left-form .wrap-check .iUncheck{background:url(../images/checkbox.png) 0 0}.gray .mod-register .left-form .wrap-check .iUncheck:after{background-color:#04BFBF}.gray .article-item .art-desc,p{color:#A6A6A6}.gray .article-item .wrap-date-post .btn-more{background-color:#023550;color:#fff}.gray .article-item .wrap-date-post .btn-more:hover{background-color:#FFBE19}.gray .article-item .wrap-date-post .btn-more:active{background-color:#FF8317}.gray .article-item .date{background-color:#04BFBF}.gray .article-item .date .day,.gray .article-item .date .my{color:#fff}.gray .article-item .art-title a{color:#2D4255}.gray .mod-register .link-back{color:#04BFBF}.gray .mod-register .link-back .pick-r{border-color:rgba(0,0,0,0)#04BFBF rgba(0,0,0,0)rgba(0,0,0,0)}.gray .block.tab-style-2 .wrap-tab .lbl-tab{background-color:#222;color:#878787}.gray .block.tab-style-2 .wrap-tab .lbl-tab.active{background-color:#04BFBF;color:#fff}.gray .block.tab-style-2 .title-block{border-bottom-color:#04BFBF}.gray .btn-discard{color:#666;background-color:#EEE}.gray .btn-discard:hover{color:#fff;background-color:#CC0013}.gray .mod-brand-alphabetical .head-char{color:#A6A6A6}.gray .mod-brand-alphabetical .list-follow a{color:#04BFBF}.wrap-list-char a:hover{text-decoration:none;color:#FEBD00}.gray .mod-brand-alphabetical .alphabe span{color:#04BFBF;cursor:pointer;}.gray .mod-brand-alphabetical .alphabe a.disable{color:#FEBD00}.gray .mod-brand-detail-2 .brand-info-right,.gray .mod-brand-detail-5 .brand-info-right{background-color:#fff}.gray .mod-brand-detail-2 .brand-desc .title-desc{color:#04BFBF}.gray .btn.btn-blue{background-color:#04BFBF;border-color:#038C8C}.gray .btn.btn-blue.hover,.gray .btn.btn-blue:hover{background:#FFA43E;border-color:#F28200}.gray .btn.btn-blue:active{border-bottom:0;margin-top:3px}.gray .coupons-code-item.right-action .bottom-action .btn-view-coupon{border-bottom:2px solid #038C8C}.gray .coupons-code-item.right-action:hover .bottom-action .btn-view-coupon{background:#FFA43E;border-color:#F28200}.gray .coupons-code-item.right-action .bottom-action .btn-view-coupon:active{border-bottom:0}.gray .block .title-block,.gray .coupon-item .coupon-desc,.gray .mod-brand-detail-2 .count-info,.gray .mod-brand-detail-5 .count-info{border-color:#888}.gray .pagination .page-num.active,.gray .pagination .page-num:hover{border-color:#04BFBF}.gray .pagination .page-num.active{background-color:#04BFBF}.gray .pagination .page-num a{color:#666}.gray .pagination .page-nav{background-color:#eee;border-color:#bbb}.gray .pagination .page-nav:hover{border-color:#04BFBF;background-color:#eee}.gray .pagination .txt-nav{border-color:#BBB}.gray .pagination .txt-nav:hover{border-color:#04BFBF}


 .coupon-price span {
    background: none repeat scroll 0 0 red;
    border-radius: 200px;
    color: yellow;
    padding: 7px;
}

.save-price span {
	  background: none repeat scroll 0 0 red;
    border-radius: 100px;
    color: yellow;
    padding: 8px
}

.styled{
  margin-bottom: 20px;
}
.time-left .styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
}
.day-left .styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.time-left .styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
.day-left .styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
.addpromo input, textarea, select {
    border-radius: 2px;
    background: #f4f4f4;
    padding: 2px;
    border:1px solid #e6e4e4;
    color:#636262;
}
.intro-video input, textarea {background:none;border:1px solid #ccc;border-radius:2px;margin:5px 0px; padding: 5px 4px;width: 96%;color:#bababa;}
.intro-video .btn-flat {
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 1.38462em;
    line-height: normal;
    padding: 4px 20px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

#sign_up {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 400px;
        position: relative;
        display: none;
    }
    #sign_up #sign_up_form {
        margin-top: 13px;
    }
    #sign_up label {
        display: block;
        margin-bottom: 10px; 
        color: #536376;
        font-size: .9em;
    }
  
    #sign_up label input {
        display: block;
        width: 393px;
        height: 31px;
        background-position: -201px 0;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
		 border: 0 none;
    }
	
/*** devis ***/
 #sign_devis {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 400px;
        position: relative;
        display: none;
		 height: 500px;
    }
    #sign_devis #sign_devis_form {
        margin-top: 13px;
    }
    #sign_devis label {
        display: block;
        margin-bottom: 10px; 
        color: #536376;
        font-size: .9em;
    }
  
    #sign_devis label input {
        display: block;
        width: 393px;
        height: 31px;
        background-position: -201px 0;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
		 border: 0 none;
    }  

#sign_devis label textarea {
        display: block;
        width: 393px;
        height: 31px;
        background-position: -201px 0;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
		 border: 0 none;
		 color:#000;
    }
/*** contact ***/
 #sign_contact {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 400px;
        position: relative;
        display: none;
		 height: 562px;
    }
    #sign_contact #sign_contact_form {
        margin-top: 13px;
    }
    #sign_contact label {
        display: block;
        margin-bottom: 10px; 
        color: #536376;
        font-size: .9em;
    }
  
    #sign_contact label input {
        display: block;
        width: 393px;
        height: 31px;
        background-position: -201px 0;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
		 border: 0 none;
    }  

#sign_contact label textarea {
        display: block;
        width: 393px;
        height: 94px;
        background-position: -200px -129px;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
		 border: 0 none;
		 color:#000;
    }	




/******/	
    #see_id {
          color: #536376;
    font-size: 22px;
    height: 23px;
    width: 332px;
        background-position: -202px -133px;
    }
    #left_out {
        background-position: -202px -158px;
        width: 113px; height: 16px;
    }
    #sign_up_form {
        position: relative;
        background: url(divider.png) repeat-x bottom left;
        padding-bottom: 54px;
        margin-bottom: 12px;
    }
    #actions {
        float: left;
        position: absolute;
        right: 0;
        height: 31px;
        bottom: 20px;
    }
    a.form_button {
        float: left;
        width: 93px; height: 31px;
        margin-right: 15px;
    }
    #cancel { background-position: -198px -36px; }
    #log_in { background-position: -291px -36px; }
    #cancel:hover { background-position: -198px -67px; }
    #cancel:active { background-position: -198px -98px; }
    #log_in:hover { background-position: -291px -67px; }
    #log_in:active { background-position: -291px -98px; }
    #close_x { 
        width: 24px; height: 23px;
        overflow: hidden; line-height: 1000px;
        display: block;
        position: absolute; top: 5px; right: 5px;
        background-position: -387px -102px;
    }
    #usage { background-position: -323px -172px; width: 67px; height: 22px;}

.sprited {
    background: url("download_sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    line-height: 1000px;
    overflow: hidden;
}
.btn.btn-primary {
    background: none repeat scroll 0 0 #2459b9;
}

.addpromo tr {
    line-height: 31px;
}

.addpromo input[type=submit] {
     background: none repeat scroll 0 0 #04bfbf;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    margin-top: 13px;
    padding: 5px 10px;
}
.newsucc {
    font-size: 12px;
    margin-top: -55px;}